---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { FileText, Home } from "lucide-astro";

import liefercheinImg01 from "@/assets/images/Lieferchein.jpg";
import liefercheinImg02 from "@/assets/images/Lieferchein2.jpg";
import { Button } from "@/components/ui/button";
---

<Layout title="Julius Computer">
  <main class="flex min-h-screen flex-col gap-4 p-12">
    <div class="flex w-full items-center justify-between rounded-md bg-neutral-900 p-4">
      <h1 class="text-xl font-semibold">http://vdcon-ap040</h1>
      <div class="flex items-center gap-2">
        <img
          src="https://lh3.googleusercontent.com/ogw/AKPQZvw9X18rGI39iQUBntMs9x_ijE04EKg2zDxb7i5eMA=s32-c-mo"
          alt="Julius Zlioba"
          class="rounded-full"
        />
        <p class="font-semibold">Julius Computer</p>
      </div>
    </div>
    <div
      class="flex grow flex-wrap items-center justify-center gap-4 border-b-2 border-neutral-900"
    >
      <div
        class="w-64 overflow-hidden rounded-md border-2 border-neutral-900 bg-primary hover:border-primary hover:bg-secondary"
      >
        <a href="http://vdcon-ap040:3001" target="_blank" class="">
          <Image src={liefercheinImg01} alt="Hausbrot Gourmet Lieferschein" loading={"eager"} />
          <h3 class="flex items-center justify-center gap-2 p-3">
            Gourmet Lieferschein <FileText size={20} strokeWidth={1.5} />
          </h3>
        </a>
      </div>

      <div
        class="w-64 overflow-hidden rounded-md border-2 border-neutral-900 bg-primary hover:border-primary hover:bg-secondary"
      >
        <a href="http://vdcon-ap040:3002" target="_blank" class="">
          <Image src={liefercheinImg02} alt="Hausbrot Gourmet Lieferschein" loading={"eager"} />
          <h3 class="flex items-center justify-center gap-2 p-3">
            ÖJK Lieferschein <FileText size={20} strokeWidth={1.5} />
          </h3>
        </a>
      </div>
    </div>

    <a href="/">
      <Button className="gap-2"> <Home strokeWidth={1} /> Home </Button>
    </a>
  </main>
</Layout>
