---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { FileText } from "lucide-astro";

import liefercheinImg01 from "@/assets/images/Lieferchein.jpg";
import liefercheinImg02 from "@/assets/images/Lieferchein2.jpg";
import c724websiteImg01 from "@/assets/images/c724Website.jpg";
---

<Layout title="Julius Computer">
  <main class="p-12 flex flex-col min-h-screen gap-4">
    <div
      class="w-full bg-neutral-900 p-4 rounded-md flex justify-between items-center"
    >
      <h1 class="font-semibold text-xl">http://vdcon-ap040</h1>
      <div class="flex gap-2 items-center">
        <img
          src="https://lh3.googleusercontent.com/ogw/AKPQZvw9X18rGI39iQUBntMs9x_ijE04EKg2zDxb7i5eMA=s32-c-mo"
          alt="Julius Zlioba"
          class="rounded-full"
        />
        <p class="font-semibold">Julius Computer</p>
      </div>
    </div>
    <div class="grow flex items-center justify-center gap-4 flex-wrap">
      <div
        class="w-64 overflow-hidden bg-primary rounded-md hover:bg-secondary border-2 border-neutral-900 hover:border-primary"
      >
        <a href="http://vdcon-ap040:85" target="_blank" class="">
          <Image src={c724websiteImg01} alt="c724 Website" loading={"eager"} />
          <h3 class="flex gap-2 items-center justify-center p-3">
            c724 Website Refresh <FileText size={20} strokeWidth={1.5} />
          </h3>
        </a>
      </div>

      <div>|</div>

      <div
        class="w-64 overflow-hidden bg-primary rounded-md hover:bg-secondary border-2 border-neutral-900 hover:border-primary"
      >
        <a href="http://vdcon-ap040:3001" target="_blank" class="">
          <Image
            src={liefercheinImg01}
            alt="Hausbrot Gourmet Lieferschein"
            loading={"eager"}
          />
          <h3 class="flex gap-2 items-center justify-center p-3">
            Gourmet Lieferschein <FileText size={20} strokeWidth={1.5} />
          </h3>
        </a>
      </div>

      <div
        class="w-64 overflow-hidden bg-primary rounded-md hover:bg-secondary border-2 border-neutral-900 hover:border-primary"
      >
        <a href="http://vdcon-ap040:3002" target="_blank" class="">
          <Image
            src={liefercheinImg02}
            alt="Hausbrot Gourmet Lieferschein"
            loading={"eager"}
          />
          <h3 class="flex gap-2 items-center justify-center p-3">
            ÖJK Lieferschein <FileText size={20} strokeWidth={1.5} />
          </h3>
        </a>
      </div>
    </div>
  </main>
</Layout>
