---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { FileText, Hammer } from "lucide-astro";

import c724websiteImg01 from "@/assets/images/c724Website.jpg";
import profileImg from "@/assets/images/profile_200x200.jpg";
import { Button } from "@/components/ui/button";
---

<Layout title="Julius Computer">
  <main class="flex min-h-screen flex-col gap-4 p-12">
    <div class="flex w-full items-center justify-between rounded-md bg-neutral-900 p-4">
      <h1 class="text-xl font-semibold">http://vdcon-ap040</h1>
      <div class="flex items-center gap-2">
        <Image src={profileImg} alt="Julius Zlioba" class="size-8 rounded-full" />
        <p class="font-semibold">Julius Computer</p>
      </div>
    </div>
    <div
      class="flex grow flex-wrap items-center justify-center gap-4 border-b-2 border-neutral-900"
    >
      <div
        class="w-64 overflow-hidden rounded-md border-2 border-neutral-900 bg-primary hover:border-primary hover:bg-secondary"
      >
        <a href="http://vdcon-ap040:85" target="_blank" class="">
          <Image src={c724websiteImg01} alt="c724 Website" loading={"eager"} />
          <h3 class="flex items-center justify-center gap-2 p-3">
            c724 Website Refresh <FileText size={20} strokeWidth={1.5} />
          </h3>
        </a>
      </div>
    </div>
    <a href="/tools">
      <Button className="gap-2"> <Hammer strokeWidth={1} /> Tools </Button>
    </a>
  </main>
</Layout>
